.vinyle {
  position: relative;
  max-width: 300px;
  max-height: 300px;
  display: inline-block;
  border-radius: 50%;
  // background-color: pink;
  overflow: hidden;
  animation: turn 6s infinite linear;
}

@keyframes turn {
  100% {
    transform: rotate(360deg);
  }
}

.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  width: 50%;
  height: 50%;
  background-color: pink;
  z-index: 1;
}
