@import url("https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css");

@import "./components/swiper.scss";

html,
body {
  min-height: 100vh;
  height: -webkit-fill-available;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#id__next {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.txtBlue {
  color: orangered;
}
audio {
  width: 100%;
}
audio::-webkit-media-controls-timeline-container {
  background-color: pink;
}

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    min-height: -webkit-fill-available;
  }
}
