@import url("https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css");

@import "./components/swiper.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
audio {
  width: 100%;
}
